* {
  box-sizing: border-box;
}

body {
  background: #aaa;
}

#tetris {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tetris > div {
  float: left;
  background: #222;
}

#tetris > div.block {
  border: 2px solid #222;
  background: #458B00;
}
